<div class="container loginPage">
	<form method="POST" action="/auth/login">
		<div class="form-group">
			<label class="inputField" for="name">Email:</label>
			<input type="email" class="form-control inputField" name="email" placeholder="Enter email">
		</div>
		<div class="form-group">
			<label class="inputField" for="name">Password:</label>
			<input type="password" class="form-control inputField" name="password" placeholder="Enter password">
		</div>
		<input type="submit" value="Login" class="btn-success btn submitBtn">
	</form>
</div>