<div class="container signupPage">
	<form method="POST" action="/auth/signup">
		<div class="form-group">
			<label class="inputField" for="name">Name:</label>
			<input id="name" type="text" class="form-control inputField" name="name" placeholder="Enter your name" required>
		</div>
		<div class="form-group">
			<label class="inputField" for="email">Email:</label>
			<input id="email" type="email" class="form-control inputField" name="email" placeholder="Enter email" required>
		</div>
		<div class="form-group">
			<label class="inputField" for="password">Password:</label>
			<input id="password" type="password" class="form-control inputField" name="password" placeholder="Enter password" required>
		</div>
		<div class="form-group">
			<label class="inputField" for="height">Height:</label>
			<input id="height" type="number" class="form-control inputField" name="height" placeholder="Enter height" required>
		</div>
		<div class="form-group">
			<label class="inputField" for="weight">Weight:</label>
			<input id="weight" type="number" class="form-control inputField" name="weight" placeholder="Enter weight" required>
		</div>
		<div class="form-group">
			<label class="inputField" for="age">Age:</label>
			<input id="age" type="number" class="form-control inputField" name="age" placeholder="Enter age" required>
		</div>
		<div class="form-group">
			<label class="inputField" for="gender">Gender:</label>
			<select name="sex" id="gender" class="form-control inputField">
				<option value="male" selected>Male</option>
				<option value="female">Female</option>
			</select>
		</div>
		<div class="form-group">
			<label class="inputField" for="activity">Activity Level</label>
			<select name="activityLevel" id="activity" class="form-control inputField">
				<option value="1">Sedentary</option>
				<option value="2" selected>Average</option>
				<option value="3">Active</option>
			</select>
		</div>

		<% include ../partials/timezones %>

		<input type="submit" value="Sign Up" class="btn-success btn submitBtn">
	</form>
</div>