    <h3>New Post</h3>
    <div class="container">
        <form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="name">First Name</label>
      <input type="text" class="form-control" id="iname" placeholder="First Name" required>
    </div>
    <div class="form-group col-md-6">
      <label for="city">City</label>
      <input type="text" class="form-control" id="city" placeholder="City" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputState">Activity Type</label>
        <select id="inputState" class="form-control" required>
            <option selected onchange="inputOther()">Outdoors</option>
            <option>Culture</option>
            <option>Food</option>
            <option>Entertainment</option>
            <option>Other</option>
      </select>
    </div>
      <div class="form-group col-md-6">
        <label for="otherActivity">Enter your Activity Type</label>
        <input type="text" class="form-control" id="otherActivity" placeholder="History" required>
      </div>
    </div>
  <div class="form-group">
    <label for="description">Activity Description</label>
    <input type="text" class="form-control" id="description" placeholder="A week-long food tour of Sri Lanka." required>
  </div>
  <div class="form-group">
    <label for="contactMethod">Best way to contact me</label>
    <input type="text" class="form-control" id="contactMethod" placeholder="WhatsApp me! +1 555-555-5555" required>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="language">Language</label>
      <input type="text" class="form-control" id="language" required>
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Age Range</label>
      <select id="inputState" class="form-control">
        <option selected>All ages</option>
        <option >Below 21</option>
        <option>21-30</option>
        <option>31-40</option>
        <option>40 and Above</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="startDate">Start Date</label>
      <input type="date" class="form-control" placeholder="DD/MM/YY" name="startDate" id="startDate">
    </div>
    <div class="form-group col-md-6">
      <label for="endDate">End Date</label>
      <input type="date" class="form-control" placeholder="DD/MM/YY" name="endDate" id="endDate">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>
    </div>
