    <h3>Find a travel buddy! Search existing threads or start your own.</h3>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <button type="submit">Search by City</button>
                <a href='/create'>Create a Post</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="map">
                </div>
            </div>
        </div>
    </div>
