    <h3>Find a travel buddy! Search existing threads or start your own.</h3>
    <div class="container">
        <!-- <div class="row"> -->
            <div class= "form group row">
                <form class ="col-6" id="citySearch">
                    <input id="cityInput" type="text" placeholder="City Name">
                    <button form="citySearch" class="btn btn-info" type="submit">Search by City</button>
                </form>
            <div class="col-sm-4">
                <a href="/create" class="btn btn-info" role="button">Create a Post</a>

                <!-- <button type="submit">Search by City</button>
                <button type="submit">Create a Post</button> -->
            </div>
            </div>
        <!-- </div> -->
        <div class="row">
            <div class="col-sm-12">
                <div id="map">
                </div>
            </div>
        </div>
    </div>
